body{
font-family: Arial;
background:#f4f4f4;
padding:20px;
}

nav a{
margin-right:15px;
text-decoration:none;
font-weight:bold;
}

input, textarea{
width:300px;
margin:5px;
padding:5px;
}

button{
padding:8px 15px;
background:blue;
color:white;
border:none;
}